frontend/index.html
<!DOCTYPE html>
<html>
<head>
  <title>Page </title>
  <!--Favicon-->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Styles-->
  <!--build:css css/vendor.min.css-->
  <link rel="stylesheet" href="src/css/owl.carousel.css">
  <link rel="stylesheet" href="src/css/animate.min.css">
  <!--endbuild-->
  <!--build:css css/main.min.css-->
  <link rel="stylesheet" href="src/css/fonts.css">
  <link rel="stylesheet" href="src/css/bootstrap.css">
  <link rel="stylesheet" href="src/css/main.css">
  <!--endbuild -->
</head>
<body>
  <header class="main">
    <div class="bar-mobile"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
    <div class="header">
      <a class="logo" href="/">// Muzium ///</a>
      <nav>
        <ul>
          <li class="menu-link" ><a href="courses.html">курсы</a></li>
          <li class="menu-link" ><a href="lectors.html">лекторы</a></li>
          <li class="menu-link" ><a href="review.html">Рецензии</a></li>
          <li class="menu-link" ><a href="#">Интервью</a></li>
          <li class="menu-link" ><a href="videoblog.html">видеоблог</a></li>
          <li class="menu-link" ><a href="#">треклисты</a></li>
          <li class="menu-link" ><a href="triko.html">трико</a></li>
          <li class="menu-link" ><a href="other.html">разное</a></li>
          <li class="menu-link" ><a href="#">о проекте</a></li>
          <li>
            <input id="search" name="search" type="text" placeholder="Что ищем?">
            <div class="border"></div>
            <input id="search_submit" value="" class="search" data-toggle="off" type="submit"></input>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="stage">
    <div class="over-left"></div>
    <div class="hdi">
      <div class="over-right"></div>
    </div>
    <div id="SLDE-ONE" class="sldr slider">
      <ul class="wrp animate">
        <li class="elmnt-one">
          <div class="info">
            <p class="review">Рецензия</p>
            <h2>«Коко Шанель и Игорь<br> Стравинский», «Бег на месте»</h2>
            <p class="desc">Два фильма о музыке</p>
            <div class="autor"><img src="src/img/user-img.png" alt="" class="user-pic"><span>Артем Мозговой</span></div>
          </div>
          <div class="skew">
            <div class="wrap"><img src="src/img/slide-1.jpg" alt=""></div>
          </div>
        </li>
        <li class="elmnt-two">
          <div class="info">
            <p class="review">Рецензия</p>
            <h2>«Коко Шанель и Игорь<br> Стравинский», «Бег на месте»</h2>
            <p class="desc">Два фильма о музыке</p>
            <div class="autor"><img src="src/img/user-img.png" alt="" class="user-pic"><span>Артем Мозговой</span></div>
          </div>
          <div class="skew">
            <div class="wrap"><img src="src/img/slide-1.jpg" alt=""></div>
          </div>
        </li>
        <li class="elmnt-three">
          <div class="info">
            <p class="review">Рецензия</p>
            <h2>«Коко Шанель и Игорь<br> Стравинский», «Бег на месте»</h2>
            <p class="desc">Два фильма о музыке</p>
            <div class="autor"><img src="src/img/user-img.png" alt="" class="user-pic"><span>Артем Мозговой</span></div>
          </div>
          <div class="skew">
            <div class="wrap"><img src="src/img/slide-1.jpg" alt=""></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
    <button class="sldr-prv sldr-nav prev"></button>
    <button class="sldr-nxt sldr-nav next"></button>
    <ul class="selectors">
      <li class="focalPoint"></li>
      <li></li>
      <li></li>
    </ul>
  </div>

  <div class="selector-bg"></div>
  <div class="container content">
    <div class="row first-row">
      <div class="section-title">
        <h3>Популярное</h3>
      </div>
      <div class="media blocks">
        <div class="col-sm-4">
          <a class="inform" href="#">
            <div class="block-red item">
              <div class="image-src"><img src="src/img/popular-1.jpg" alt=""></div>
              <div class="information">
                <div class="crew"></div>
                <p class="date">12 Лекций</p>
                <h5 class="title">Чайковский</h5><img src="src/img/user-img-2.png" alt="" class="img-pic">
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="inform" href="#">
            <div class="block-blue item">
              <div class="image-src"><img src="src/img/popular-2.jpg" alt=""></div>
              <div class="information">

                <div class="crew crew-reverse"></div>
                <p class="date">17 июня 2016</p>
                <h5 class="title">«Классическая музыка конструирует время по собственным законам»</h5>
                <p>Интервью с музыкальным критиком Ярославом Тимофеевым</p>
                <p class="autor">// Мария Чалых</p>
              </div>
            </div>
          </a>
        </div>


        <div class="col-sm-4">
          <a class="inform" href="#">
            <div class="block-with-icon item">
              <div class="image-src"><img src="src/img/popular-3.jpg" alt=""></div>
              <div class="information">
                <div class="crew crew-reverse"></div>
                <p class="date">14 октября 2016</p>
                <h5 class="title">«Треклист “Другое пространство”</h5>
                <p>Прочь из зоны комфорта</p><img src="src/img/icons/icon-list.png" alt="" class="img-pic">
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
    <div class="row content-wrapper">
      <div class="section-title">
        <h3>Язык музыки</h3>
      </div>
      <div class="media blocks">

        <div class="col-sm-4">
          <a class="inform" href="#">
            <div class="block-with-icon item">
              <div class="image-src"><img src="src/img/music-1.jpg" alt=""></div>
              <div class="information">
                <div class="crew crew-reverse"></div>
                <p class="date">5 мая 2017</p>
                <h5 class="title">Любители музыки</h5>
                <p>Фильмы Кена Рассела о музыке</p>
                <p class="autor">// Юрий Кудряшов</p><img src="src/img/icons/icon-cinema.png" alt="" class="img-pic">
              </div>
            </div>
          </a>
        </div>


        <div class="col-sm-4">
          <a class="inform" href="#">
            <div class="block-with-icon item">
              <div class="image-src"><img src="src/img/music-2.jpg" alt=""></div>
              <div class="information">
                <div class="crew crew-reverse"></div>
                <p class="date">20 марта 2017</p>
                <h5 class="title">Restless</h5>
                <p>Рецензия на запись Первой симфонии Эдуарда Элгара в исполнении Даниэля Баренбойма и Staatskapelle Berlin</p><img src="src/img/icons/icon-cd.png" alt="" class="img-pic">
                <p class="autor">// Ярослав Тимофеев</p>
              </div>
            </div>
          </a>
        </div>


        <div class="col-sm-4">
          <a class="inform" href="#">
            <div class="block-with-icon item">
              <div class="image-src"><img src="src/img/music-3.jpg" alt=""></div>
              <div class="information">
                <div class="crew crew-reverse"></div>
                <p class="date">25 февраля 2016</p>
                <h5 class="title">«Коко Шанель и Игорь Стравинский», «Бег на месте»</h5>
                <p>Два фильма о музыке</p><img src="src/img/icons/icon-cinema.png" alt="" class="img-pic">
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
    <div class="row content-wrapper">
      <div class="section-title">
        <h3>Курсы</h3>
      </div>
      <div class="media blocks">

        <div class="col-sm-4">
          <a class="inform" href="#">
            <div class="block-red item white">
              <div class="image-src"><img src="src/img/course-1.jpg" alt=""></div>
              <div class="information">
                <div class="crew"></div>
                <p class="date">4 лекции</p>
                <h5 class="title">Шопен</h5><img src="src/img/user-img-3.png" alt="" class="img-pic">
              </div>
            </div>
          </a>
        </div>


        <div class="col-sm-4">
          <a class="inform" href="#">
            <div class="block-red item">
              <div class="image-src"><img src="src/img/popular-1.jpg" alt=""></div>
              <div class="information">
                <div class="crew"></div>
                <p class="date">5 Лекций</p>
                <h5 class="title">Чайковский</h5><img src="src/img/user-img-2.png" alt="" class="img-pic">
              </div>
            </div>
          </a>
        </div>


        <div class="col-sm-4">
          <a class="inform" href="#">
            <div class="block-red item">
              <div class="image-src"><img src="src/img/course-3.jpg" alt=""></div>
              <div class="information">
                <div class="crew"></div>
                <p class="date">10 Лекций</p>
                <h5 class="title">Брамс</h5><img src="src/img/user-img-2.png" alt="" class="img-pic">
              </div>
            </div>
          </a>
        </div>

        <div class="section-button"><a class="button">Все курсы</a></div>
      </div>
    </div>
    <div class="row content-wrapper">
      <div class="section-title">
        <h3>Интервью</h3>
      </div>
      <div class="media blocks">

        <div class="col-sm-4">
          <a class="inform" href="#">
            <div class="block-blue item">
              <div class="image-src"><img src="src/img/interview-1.jpg" alt=""></div>
              <div class="information">

                <div class="crew crew-reverse"></div>
                <p class="date">5 октября 2017</p>
                <h5 class="title">«В жизни нет ничего опасного»</p>
                  <p class="autor">// Мария Чалых</p>
                </div>
              </div>
            </a>
          </div>


          <div class="col-sm-4">
            <a class="inform" href="#">
              <div class="block-blue item">
                <div class="image-src"><img src="src/img/popular-2.jpg" alt=""></div>
                <div class="information">

                  <div class="crew crew-reverse"></div>
                  <p class="date">17 июня 2016</p>
                  <h5 class="title">«Классическая музыка конструирует время по собственным законам»</h5>
                  <p>Интервью с музыкальным критиком Ярославом Тимофеевым</p>
                  <p class="autor">// Мария Чалых</p>
                </div>
              </div>
            </a>
          </div>


          <div class="col-sm-4">
            <a class="inform" href="#">
              <div class="block-blue item">
                <div class="image-src"><img src="src/img/interview-3.jpg" alt=""></div>
                <div class="information">

                  <div class="crew crew-reverse"></div>
                  <p class="date">22 апреля 2016</p>
                  <h5 class="title">«Образ взбалмошной женщины мне давался тяжело»</p>
                    <p>Интервью с Юлией Лежневой</p>
                    <p class="autor">// Мария Чалых</p>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
        <div class="row content-wrapper">
          <div class="section-title">
            <h3>Треклисты</h3>
          </div>
          <div class="media blocks">

            <div class="col-sm-4">
              <a class="inform" href="#">
                <div class="block-with-icon item">
                  <div class="image-src"><img src="src/img/list-1.jpg" alt=""></div>
                  <div class="information">
                    <div class="crew crew-reverse"></div>
                    <p class="date">5 мая 2017</p>
                    <h5 class="title">Треклист Антона Долина</h5>
                    <p>от изоритмических мотетов до Radiohead</p>
                    <img src="src/img/icons/icon-list.png" alt="" class="img-pic">
                  </div>
                </div>
              </a>
            </div>


            <div class="col-sm-4">
              <a class="inform" href="#">
                <div class="block-with-icon item">
                  <div class="image-src"><img src="src/img/list-2.jpg" alt=""></div>
                  <div class="information">
                    <div class="crew crew-reverse"></div>
                    <p class="date">3 ноября 2016</p>
                    <h5 class="title">Треклист Народный</h5>
                    <p>Народная музыка в «аранжировках» русских композиторов</p><img src="src/img/icons/icon-list.png" alt="" class="img-pic">
                  </div>
                </div>
              </a>
            </div>


            <div class="col-sm-4">
              <a class="inform" href="#">
                <div class="block-with-icon item">
                  <div class="image-src"><img src="src/img/list-3.jpg" alt=""></div>
                  <div class="information">
                    <div class="crew crew-reverse"></div>
                    <p class="date">14 октября 2016</p>
                    <h5 class="title">Треклист “Другое пространство”</h5>
                    <p>Прочь из зоны комфорта</p><img src="src/img/icons/icon-list.png" alt="" class="img-pic">
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
        <div class="container">
          <div class="section-button"><a class="button">Все треклисты</a></div>
        </div>
        <footer>
         <nav class="footer">
           <ul>
          <li ><a href="courses.html">курсы</a></li>
          <li ><a href="lectors.html">лекторы</a></li>
          <li ><a href="review.html">Рецензии</a></li>
          <li ><a href="#">Интервью</a></li>
          <li ><a href="videoblog.html">видеоблог</a></li>
          <li ><a href="#">треклисты</a></li>
          <li ><a href="triko.html">трико</a></li>
          <li ><a href="other.html">разное</a></li>
          <li ><a href="#">о проекте</a></li>
             <li>
             </li>
           </ul>
         </nav>
         <div class="footer-bottom">
           <div class="logo">// MUZIUM //</div>
           <div class="section-social">
             <p class="blog">АВТОРСКИЙ БЛОГ О КЛАССИЧЕСКОЙ МУЗЫКЕ</p>
             <a class="first" href=""><img  src="src/img/icons/facebook.png"></a>
             <a href=""><img src="src/img/icons/vk.png"></a>
             <a href=""><img src="src/img/icons/yt.png"></a>
           </div>
           <div class="section-partners">
             <p class="partners">ПАРТНЕРЫ ПРОЕКТА:</p>
             <img class="filarmony" src="src/img/icons/m.png">
             <img src="src/img/icons/universal.png">
           </div>
         </div>
       </footer>
     </div>

   </div>

   <!--build:js scripts/vendor.min.js-->
   <!--script(src="src/scripts/jquery.min.js")-->
   <script src="src/scripts/jquery-1.10.2.min.js"></script>
   <script src="src/scripts/jquery.easing.1.3.js"></script>
   <script src="src/scripts/animate-css.js"></script>
   <script src="src/scripts/jquery.sldr.js"></script>
   <script src="src/scripts/jquery-ui.min.js"></script>
   <!--build:js scripts/main.min.js-->
   <script src="src/scripts/common.js"></script>
   <!--endbuild-->
   <script>
    function loadCss(hf){
      var ms=document.createElement("link"); ms.rel="stylesheet";ms.href=hf;document.getElementsByTagName("body")[0].appendChild(ms);
    }
    loadCss ("css/vendor.min.css");
    loadCss ("css/main.min.css");
  </script>
</body>
</html>

frontend/index.jade
extends src/jade/template
include src/jade/mixins
block title
  title Page 
block content
  header
    .bar-mobile
      span.top
      span.middle
      span.bottom
    .header
      .logo // Muzium ///
      nav
        ul
          li
            a(href="#") курсы
          li
            a(href="#") лекторы
          li
            a(href="#") Рецензии
          li
            a(href="#") Интервью
          li
            a(href="#") видеоблог
          li
            a(href="#") треклисты
          li
            a(href="#") трико
          li
            a(href="#") разное
          li
            a(href="#") о проекте
          li
            .search

  #owl-carousel
    .info-mob(style="background: url(src/img/slide-1.jpg)")
      .wrap
        p.review Рецензия
        h2.hed «Коко Шанель и Игорь<br> Стравинский», «Бег на месте»
        p.desc Два фильма о музыке
        .autor
          img.user-pic(src="src/img/user-img.png", alt="")
          span Артем Мозговой
    .info-mob(style="background: url(src/img/slide-1.jpg)")
      .wrap
        p.review Рецензия
        h2.hed «Коко Шанель и Игорь<br> Стравинский», «Бег на месте»
        p.desc Два фильма о музыке
        .autor
          img.user-pic(src="src/img/user-img.png", alt="")
          span Артем Мозговой
    .info-mob(style="background: url(src/img/slide-1.jpg)")
      .wrap
        p.review Рецензия
        h2.hed «Коко Шанель и Игорь<br> Стравинский», «Бег на месте»
        p.desc Два фильма о музыке
        .autor
          img.user-pic(src="src/img/user-img.png", alt="")
          span Артем Мозговой
          
  .stage
    .over-left
    .hdi
      .over-right
    #SLDE-ONE.sldr.slider
      ul.wrp.animate
        li.elmnt-one
          .info
            p.review Рецензия
            h2 «Коко Шанель и Игорь<br> Стравинский», «Бег на месте»
            p.desc Два фильма о музыке
            .autor
              img.user-pic(src="src/img/user-img.png", alt="")
              span Артем Мозговой
          .skew
            .wrap
              img(src="src/img/slide-1.jpg", alt="")
        li.elmnt-two
          .info
            p.review Рецензия
            h2 «Коко Шанель и Игорь<br> Стравинский», «Бег на месте»
            p.desc Два фильма о музыке
            .autor
              img.user-pic(src="src/img/user-img.png", alt="")
              span Артем Мозговой
          .skew
            .wrap
              img(src="src/img/slide-1.jpg", alt="")
        li.elmnt-three
          .info
            p.review Рецензия
            h2 «Коко Шанель и Игорь<br> Стравинский», «Бег на месте»
            p.desc Два фильма о музыке
            .autor
              img.user-pic(src="src/img/user-img.png", alt="")
              span Артем Мозговой
          .skew
            .wrap
              img(src="src/img/slide-1.jpg", alt="")
        //- li.elmnt-four
        //-   .info
        //-     p.review Рецензия
        //-     h2 «Коко Шанель и Игорь<br> Стравинский», «Бег на месте»
        //-     p.desc Два фильма о музыке
        //-     .autor
        //-       img.user-pic(src="src/img/user-img.png", alt="")
        //-       span Артем Мозговой
        //-   .skew
        //-     .wrap
        //-       img(src="src/img/slide-1.jpg", alt="")

    .clear
    button.sldr-prv.sldr-nav.prev
    button.sldr-nxt.sldr-nav.next

    ul.selectors
      li.focalPoint
      li
      li
  .selector-bg

  .container.content
    .row
      .section-title
        h3 Популярное
      .media
        .col-sm-4
          .block-red.item
            .image-src
              img(src="src/img/popular-1.jpg", alt="")
            .information
              .crew
              p.date 12 Лекций
              h5.title Чайковский
              img.img-pic(src="src/img/user-img-2.png", alt="")
        .col-sm-4
          .block-blue.item
            .image-src
              img(src="src/img/popular-2.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 17 июня 2016
              h5.title «Классическая музыка конструирует время по собственным законам»
              p Интервью с музыкальным критиком Ярославом Тимофеевым
              p.autor // Мария Чалых
        .col-sm-4
          .block-with-icon.item
            .image-src
              img(src="src/img/popular-3.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 14 октября 2016
              h5.title «Треклист “Другое пространство”
              p Прочь из зоны комфорта
              img.img-pic(src="src/img/icons/icon-list.png", alt="")

    .row.content-wrapper
      .section-title
        h3 Язык музыки
      .media
        .col-sm-4
          .block-with-icon.item
            .image-src
              img(src="src/img/music-1.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 5 мая 2017
              h5.title Любители музыки
              p Фильмы Кена Рассела о музыке
              p.autor // Юрий Кудряшов
              img.img-pic(src="src/img/icons/icon-cinema.png", alt="")
        .col-sm-4
          .block-with-icon.item
            .image-src
              img(src="src/img/music-2.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 20 марта 2017
              h5.title Restless
              p Рецензия на запись Первой симфонии Эдуарда Элгара в исполнении Даниэля Баренбойма и Staatskapelle Berlin
              img.img-pic(src="src/img/icons/icon-cd.png", alt="")
              p.autor // Ярослав Тимофеев
        .col-sm-4
          .block-with-icon.item
            .image-src
              img(src="src/img/music-3.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 25 февраля 2016
              h5.title «Коко Шанель и Игорь Стравинский», «Бег на месте»
              p Два фильма о музыке
              img.img-pic(src="src/img/icons/icon-cinema.png", alt="")
    .row.content-wrapper
      .section-title
        h3 Курсы
      .media
        .col-sm-4
          .block-red.item.white
            .image-src
              img(src="src/img/course-1.jpg", alt="")
            .information
              .crew
              p.date 4 лекции
              h5.title Шопен
              img.img-pic(src="src/img/user-img-3.png", alt="")
        .col-sm-4
          .block-red.item
            .image-src
              img(src="src/img/popular-1.jpg", alt="")
            .information
              .crew
              p.date 5 Лекций
              h5.title Чайковский
              img.img-pic(src="src/img/user-img-2.png", alt="")
        .col-sm-4
          .block-red.item
            .image-src
              img(src="src/img/course-3.jpg", alt="")
            .information
              .crew
              p.date 10 Лекций
              h5.title Брамс
              img.img-pic(src="src/img/user-img-2.png", alt="")
        .section-button
          a.button Все курсы

    .row.content-wrapper
      .section-title
        h3 Трек листы
      .media
        .col-sm-4
          .block-with-icon.item
            .image-src
              img(src="src/img/music-1.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 5 мая 2017
              h5.title Любители музыки
              p Фильмы Кена Рассела о музыке
              p.autor // Юрий Кудряшов
              img.img-pic(src="src/img/icons/icon-cinema.png", alt="")
        .col-sm-4
          .block-with-icon.item
            .image-src
              img(src="src/img/music-2.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 20 марта 2017
              h5.title Restless
              p Рецензия на запись Первой симфонии Эдуарда Элгара в исполнении Даниэля Баренбойма и Staatskapelle Berlin
              img.img-pic(src="src/img/icons/icon-cd.png", alt="")
              p.autor // Ярослав Тимофеев
        .col-sm-4
          .block-with-icon.item
            .image-src
              img(src="src/img/music-3.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 25 февраля 2016
              h5.title «Коко Шанель и Игорь Стравинский», «Бег на месте»
              p Два фильма о музыке
              img.img-pic(src="src/img/icons/icon-cinema.png", alt="")
    .row.content-wrapper
      .section-title
        h3 Курсы
      .media
        .col-sm-4
          .block-red.item.white
            .image-src
              img(src="src/img/course-1.jpg", alt="")
            .information
              .crew
              p.date 4 лекции
              h5.title Шопен
              img.img-pic(src="src/img/user-img-3.png", alt="")
        .col-sm-4
          .block-red.item
            .image-src
              img(src="src/img/popular-1.jpg", alt="")
            .information
              .crew
              p.date 5 Лекций
              h5.title Чайковский
              img.img-pic(src="src/img/user-img-2.png", alt="")
        .col-sm-4
          .block-red.item
            .image-src
              img(src="src/img/course-3.jpg", alt="")
            .information
              .crew
              p.date 10 Лекций
              h5.title Брамс
              img.img-pic(src="src/img/user-img-2.png", alt="")
        .section-button
          a.button Все курсы

    .row.content-wrapper
      .section-title
        h3 Интервью
      .media
        .col-sm-4
          .block-blue.item
            .image-src
              img(src="src/img/interview-1.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 17 июня 2016
              h5.title «Классическая музыка конструирует время по собственным законам»
              p Интервью с музыкальным критиком Ярославом Тимофеевым
              p.autor // Мария Чалых
      .media
        .col-sm-4
          .block-blue.item
            .image-src
              img(src="src/img/popular-2.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 17 июня 2016
              h5.title «Классическая музыка конструирует время по собственным законам»
              p Интервью с музыкальным критиком Ярославом Тимофеевым
              p.autor // Мария Чалых
      .media
        .col-sm-4
          .block-blue.item
            .image-src
              img(src="src/img/interview-3.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 17 июня 2016
              h5.title «Классическая музыка конструирует время по собственным законам»
              p Интервью с музыкальным критиком Ярославом Тимофеевым
              p.autor // Мария Чалых
        .section-button
          a.button Все Интервью
    .row.content-wrapper
      .section-title
        h3 Треклисты
      .media
        .col-sm-4
          .block-red.item.white
            .image-src
              img(src="src/img/list-1.jpg", alt="")
            .information
              .crew
              p.date 4 лекции
              h5.title Шопен
              img.img-pic(src="src/img/user-img-3.png", alt="")
        .col-sm-4
          .block-red.item.white
            .image-src
              img(src="src/img/list-2.jpg", alt="")
            .information
              .crew
              p.date 4 лекции
              h5.title Шопен
              img.img-pic(src="src/img/user-img-3.png", alt="")
        .col-sm-4
          .block-red.item.white
            .image-src
              img(src="src/img/popular-3.jpg", alt="")
            .information
              .crew
              p.date 4 лекции
              h5.title Шопен
              img.img-pic(src="src/img/user-img-3.png", alt="")
        .section-button
          a.button Все треклисты


    .example
      //img(src="screenshot.png", alt="")









block vendor
  include src/jade/scripts-home
